.currency-buy, .currency-sale{
  i{
    font-style: normal;
  }
  font-size: 1.3rem;
  text-align: right;
  display: flex;
  justify-content: space-between;
}
@media(max-width:828px){
  .block .currency-buy,
  .block .currency-sale {
    font-size: 3rem;
  }
}

