.block {
  position: relative;
  padding: 20px 15px 20px 20px;
  border: 1px solid #747474;
  border-top: 1px solid #487922;
  background: #ededed;
  margin: 20px;
}

.block div {
  margin-bottom: 20px;
}

.block .currency-in,
.block .currency-out {
  font-size: 1.3rem;
  text-align: right;
}

.currency-name {
  // font-family: 'Oswald';
  font-size: 1.3rem;
  font-weight: bold;
}
.rate-box {
  padding: 20px;
  height: auto;
  width: 200px;
  border: 1px solid gray;
  p {
    margin: 10px;
    display: flex;
    justify-content: space-between;
  }
}
#flex-item {
  display: flex;
  //   justify-content: center;
  justify-content: space-between;

  //   flex-direction: row;
}
