.block {
  position: relative;
  padding: 20px 15px 20px 20px;
  border: 1px solid #747474;
  border-top: 1px solid #487922;
  background: #ededed;
  margin: 20px;
}
.block div {
  margin-bottom: 20px;
}
.block .currency-in,
.block .currency-out {
  font-size: 1.3rem;
  text-align: right;
}
.currency-name {
  font-size: 1.3rem;
  font-weight: bold;
}
.flex-item {
  li {
    list-style: none;
    margin: 5px;
    text-align: right;
    b{
      margin-left: 15px;
    }
  }
  li:last-child{
    margin-top: 20px;
  } 
}