header {
  background: #4cb1c1;

  .main-header {
    padding: 20px 0 25px;
  }

  .site-title {
    margin-left: 20px;
    color: #ffff;
  }
  @media screen and (max-width:828px){
    .main-header {
      text-align: center;
      .site-title{
        font-size: 3rem;
      }
    }
  }
}
