.weather {
  text-align: center;
  height: auto;
  width: 150px;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
  background: rgb(255, 207, 207);
  img {
    -webkit-transition: all 1s ease-out;
    height: 70px;
    width: 70px;
  }

  img:hover {
    -webkit-transform: scale(1.3);
  }
  h1 {
    font-size: 16px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
  }
  li {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 10px;
    transition: 0.5s;
    display: flex;
    justify-content: space-between;
    border: none;
    border-radius: 15px;
    i {
      font-size: 12px;
      font-style: normal;
      text-align: start;
    }
    i:last-child {
      text-align: end;
    }
  }
  li:hover {
    background: #e9e9e9;
    color: #8a6aff;
  }
}
@media screen and (max-width: 828px) {
  .weather {
    margin-bottom: 10px;
    align-self: center;
    width: 100%;
    position: relative;
    border: none;
    border-radius: 0;
    h1{
      font-size: 1rem;
    }
    li{
      i{
        font-size: 1rem;
      }
    }
    img {
      position: absolute;
      // -webkit-transition: all 1s ease-out;
      height: 100px;
      width: 100px;
      left: 300px;
      top: 100px;
    }
  }
}
