.footer {
  .footer-bottom {
    background: #202020;
    padding: 30px 0;
  }
  p {
    text-align: right;
  }
  ul li a {
    line-height: 30px;
    color: #ffff;
    position: relative;
    margin-left: 23px;
    display: block;
    text-decoration: none;
    font-family: "Roboto Condenced", sans-serif;
  }
  .footer-title {
    color: #ffff;
    font-size: 1.4rem;
    margin-bottom: 20px;
    a {
      color: #ffff;
      font-size: 1.4rem;
      text-decoration: none;
    }
  }
  .list-unstyled {
    li {
      border-left: 2px solid #202020;
    }
    li:hover {
      border-left: 2px solid #ffa7a7;
      transition: all 0.3s linear;
    }
    a:hover {
      color: #ffa7a7;
      transition: all 0.3s linear;
    }
    padding-left: 50px;
  }
}
@media (max-width: 828px) {
  .footer {
    text-align: center;
    .list-unstyled {
     
        padding: 0;
      a{
        margin-left: 0;
      }
    }
    p {
      text-align: center;
    }
  }
}
